.wrapper {
  position: relative;
//   overflow-y: auto;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 700px; /* Chiều cao của hình ảnh bản đồ */
  // width: 700px; /* Chiều cao của hình ảnh bản đồ */
  background-size: cover;
}


.marker {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: red;
  border-radius: 50%;
  top: 250px; left: 350px;
  z-index: 10;
}
.marker2 {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: rgb(27, 238, 37);
    border-radius: 50%;
    top: 250px; left: 350px;

    &:hover{
      .name{
        display: inline-flex;
      }
    }
}

.name{
  display: none;
  position: absolute;
  font-size: 1rem;
  font-weight: 700;
  bottom: 100%;
  padding: 8px;
  color: #0b6bec;
  background-color: #ffffffa5;
  border-radius: 2px;
  border: 1px solid #f34b2e;
  z-index: 11;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 700px;
  pointer-events: none; // Để không ảnh hưởng đến các sự kiện chuột
}

.line {
  stroke: black;
  stroke-width: 2;
}


