.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 20px;
  width: 392px;
  background-color: rgb(255, 255, 255);
}
.title, .address, .list, .find-btn{
  box-sizing: border-box;
  width: 100%;
  padding: 20px 0;
  margin: 8px 0;
  // background-color: #c8c8c815;
  z-index: 5;
  border-radius: 4px;
  box-shadow: 1px 1px 8px 2px rgba(222, 222, 222, 0.667);
}
.title{
  padding: 12px 4px 12px 12px;
  text-align: center;
}

.address {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.address i {
  display: flex;
  align-items: center;
  padding: 12px 6px;
}
.address__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.4rem;
}

.address__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.address__outline {
  width: 100%;
  padding: 8px;
  border: 1px solid #484848;
  border-radius: 6px;
}
.address__outline + .address__outline {
  margin-top: 16px;
}
.address__input {
  border: none;
  padding: 0px;
  margin: 0px;
  height: auto;
  width: 100%;
  outline: none;
  caret-color: red;
}

.revert {
  font-size: 1.6rem;
  font-weight: 700;
  margin: auto 8px;
}

.find-btn{
  align-self: flex-end;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 4px 6px;
  outline: none;
  border: 2px solid rgba(246, 62, 74, 0.792);
  border-radius: 4px;
  background-color: rgba(246, 62, 74, 0.203);
}

.list{
  width: 100%;
  overflow-y: scroll;
  border-top: 2px solid #a1a1a13e;
}

// way
