.wrapper{
    display: flex;
    // overflow-y: auto;
    height: 100vh;
}
/* map */

.map {
  padding-top: 20px;

  flex: 1;
  // background-color: brown;
}

.tag{
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 1.4rem;
  padding: 0 12px 12px 0;
  color: #999;
}