/* way */
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 8px;
  font-size: 13px;
  line-height: 1.5;

  //
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0;
  // background-color: #c8c8c815;
  z-index: 5;
  border-radius: 4px;
  box-shadow: 1px 1px 8px 2px rgba(222, 222, 222, 0.667);
}
.icon {
  display: flex;
  align-self: center;
  font-size: 20px;
  padding: 0 8px;
}
.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  min-height: 48px;
}

.infor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title,
.more {
  text-align: start;
}

.title {
  font-size: 1.8rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: #000;
}

.more {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.time,
.distance-count {
  text-align: end;
}

.time {
  font-size: 1.8rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: #416a53;
}

.distance-count {
  color: #6e727e;
  // color: #6E727E;
}
