<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gmap-ai</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="./asset/font-awesome-pro/fontawesome-pro-6.5.1-web/css/all.min.css">
</head>

<body>
    <div class="root">
        <div class="sidebar">
            <i class="list-icon fa-solid fa-list"></i>
            <ul class="sidebar__list">
                <li class="sidebar__items active">
                    <i class="fa-solid fa-person-walking"></i>
                    <span class="item__text">Way</span>
                </li>
                <li class="sidebar__items">
                    <i class="fa-solid fa-person-walking"></i>
                    <span class="item__text">Way</span>
                </li>

            </ul>
        </div>
        <div class="actions">
            <div class="choose_address">
                <div class="choose__address__left">
                    <i class="fa-solid fa-location-dot"></i>
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="choose__address__right">
                    <div class="choose__address__outline">
                        <input class="choose__address__input" type="text" placeholder="Choose destination poin">
                    </div>
                    <div class="choose__address__outline">
                        <input class="choose__address__input" type="text" placeholder="Choose starting poin">
                    </div>
                </div>
                <i class="revert fa-solid fa-arrow-up-arrow-down"></i>
            </div>
        </div>
        <div class="map">

        </div>
    </div>
</body>

</html>